@import "fonts";
@import "vars.scss";
@import "global.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";

/* Section*/
.section {
  padding: 170px 0;

  &_top {
    margin-top: 140px;
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Trans Section*/
.trans {
  padding: 60px 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 65%;
    letter-spacing: 0.02em;

    span {
      &:nth-child(2) {
        margin-left: 23%;
      }
    }

    @media(max-width: 768px) {
      width: 100%;
    }
  }

  &__partner {
    font: 700 2em/1.2 CeraPro;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media(max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;

    @media(max-width: 980px) {
      gap: 30px;
    }

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  &__application {
    width: 29%;
    padding: 20px;
    padding-top: 24px;
    border-radius: 10px;
    background-color: #F7F7F7;

    @media(max-width: 1440px) {
      font-size: 14px;
    }

    @media(max-width: 768px) {
      width: 100%;
    }
  }

  &__caption {
    margin-bottom: 20px;
    color: var(--dark-txt, $dark-txt);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 16px;
    border-radius: 6px;
    background-color: #FCFCFC;

    input,
    select {
      border: 0;
      color: #6E6E6E;
      background-color: #F7F7F7;

      &::placeholder {
        color: inherit;
      }
    }
  }

  &__btn {
    width: 100%;
    color: var(--white, $white);
    background-color: var(--primary-green, $primary-green);
  }

  &__img {
    position: relative;
    width: calc(71% - 50px);
    margin-top: -50px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      width: 100%;
      height: calc(100% - 50px);
      border-radius: 10px;
      background-color: #F7F7F7;
      z-index: -1;
    }

    @media(max-width: 768px) {
      width: 100%;
    }
  }
}

/* Services Section*/
.services {
  &__title {
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    counter-reset: num;

    @media(max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 85%;
      right: 0;
      border: 1px solid var(--white, $white);
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }

    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 85%;
      bottom: 0;
      right: 0;
      border: 1px solid var(--white, $white);
      border-radius: 0 0 10px 10px;
      border-top: none;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__num {
    &::before {
      counter-increment: num;
      content: "0" counter(num);
    }
  }

  &__img {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition;
    }
  }
}

/* Partners Section*/
.partners {
  overflow: hidden;

  &__title {
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__row {
    display: flex;
    gap: 30px;
  }

  &__marquees {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card {
    position: relative;
    padding: 27px 24px;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 85%;
      right: 0;
      border: 1px solid var(--white, $white);
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }

    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 85%;
      bottom: 0;
      right: 0;
      border: 1px solid var(--white, $white);
      border-radius: 0 0 10px 10px;
      border-top: none;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 190px;
    border-radius: 10px;
    background-color: var(--white, $white);

    img {
      // width: 100%;
      // height: 100%;
      object-fit: contain;
    }
  }
}

/* About Section*/
.about {
  position: relative;
  background: center / cover no-repeat;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(4, 50, 52, 0.62);
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__desc {
    max-width: 650px;
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 30px;
    }

    @media(max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    counter-reset: item;

    li {
      position: relative;
      flex: 0 0 390px;
      display: flex;
      flex-direction: column;
      padding: 27px 24px;
      padding-bottom: 0;
      border-radius: 10px;

      &::before {
        content: " ";
        counter-increment: item;
        content: "0" counter(item);
        margin-bottom: 30px;
        font-size: 16px;
      }

      &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 80%;
        right: 0;
        border: 1px solid var(--white, $white);
        border-radius: 10px 10px 0 0;
        border-bottom: none;
      }

      @media(max-width: 768px) {
        flex: 1 1 300px;
      }
    }
  }

  &__btn {
    @media(max-width: 768px) {
      width: 100%;
    }
  }

}

/* Projects Section*/
.projects {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border: 0;
    border-radius: 5px;
    background-color: var(--white, $white);
    cursor: pointer;
  }

  // &__cards {
  //   display: flex;
  //   gap: 30px;
  // }

  &__card {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition;
    }

  }
}

/* Contacts Section*/
.contacts {
  position: relative;
  padding-top: 125px;

  &__back {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  a {
    @include transition;

    &:hover {
      color: var(--light-green, $light-green);
    }
  }

  &__title {
    margin-bottom: 70px;

    @media(max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media(max-width: 980px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 50%;
    margin-left: auto;

    @media(max-width: 1200px) {
      gap: 50px;
    }

    @media(max-width: 980px) {
      gap: 40px;
    }

    @media(max-width: 768px) {
      gap: 30px;
      max-width: 100%;
      margin-left: unset;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media(max-width: 1200px) {
      gap: 40px;
    }

    @media(max-width: 980px) {
      gap: 32px;
    }

    @media(max-width: 768px) {
      gap: 24px;
      max-width: 50%;
      margin-left: auto;
    }
  }

  &__tel {
    font: 500 2.25em/1 CeraPro;
    text-transform: uppercase;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__address,
  &__mail,
  &__socials {
    font-weight: 500;
    line-height: 1;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
  }

  &__item {
    flex: 1 1 300px;
  }
}
